<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Image to PDF</title>
</head>
<body>
    <h1>Image to PDF</h1>
    <p>Von David Fleischer</p>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar">
        <button type="submit">Umwandeln</button>
    </form>
    <!--make a div block with 2 links the first is https://david.fleischer-it.de/projekte.html. Put Brauchen sie Hilfe infront of the first link. Name the link Hier gibts Hilfe! The second link should be https://david.fleischer-it.de/impressum.html. The link name is an Impressum.   -->
    <div class="links">
        <p1>
            Brauchen sie Hilfe?
            <a href="https://david.fleischer-it.de/projekte.html">Hier gibts Hilfe!</a>
        </p>
        <p2>
            <a href="https://david.fleischer-it.de/impressum.html">Impressum</a>
        </p2>
</body>
</html>
